.card{
    padding: 10px 15px;
    display: flex;
    flex: row;
    border: 1px solid black;
    max-width: 400px;
    height: 200px;
    align-items: center;
 
 
}

.img{
    height: 150px;
    width: 150px;
}

.title{
    font-weight: bold;
    
}

.information{
    padding-top: 10px;
    padding-left: 15px;
}

.button{
    position: relative;
    height: 40px;
    background-color: none;
    background: none;
    border: 1px solid gray;
    padding: 7px 15px;
    text-align: right;
    bottom: 0;
}